---
layout: default
seo:
  title: Contact | Peruvian Bowls
  description: Amazing peruvian food for amazing busy people. Delivered right at your door.
  social_image:
  keywords:
  hide-from-google: true
fixed-menu: true
full-menu: false
notification-bar: true
bar:
  background: bg-dark
  text: white-text
  text-align: center
menu:
  button-style: true
banner:
  banner_image: /images/cafe-web23.webp
  image-position: bg-pos-c
  banner-tall: tall-60
  small-devices-tall: tall-40-sm
  column-size: col-6_sm-12
  text-align: left
  main-text: white-text
  sub-text: white-text
  block-position: grid-right
contact:
  button: button-inverted
testimonial-section: false
testimonial:
  button: button-inverted
faq: true
banner-faq_image: /images/cafe-web17.jpeg
sign-up-banner: false
sign-up:
  background: bg-featured
  main-text: dark-text
  sub-text: dark-text
  button: button
---

<!--------------------  HEADER AND MENU -------------------->

{% if page.fixed-menu == true %}

  {% include header-nav.html %}

{% else %}

  {% include header-nav-2.html %}

{% endif %}

<!-- Banner section -->

{% if page.fixed-menu == true %}

<section class="bg-image {{page.banner.block-position }} padded {{page.banner.banner-tall }} {{page.banner.small-devices-tall }} {{page.banner.image-position }} {% if page.notification-bar == true %} margin-fixed {% else %} margin-fixed-sm {% endif %}" style="background-image:url('{{ page.banner.banner_image }}')">
    <div class="{{page.banner.column-size }}-middle">
      <h3>
        <span class="big-bold {{page.banner.main-text }} editable"> HOLA </span> <br>
        <span class="medium-bold {{page.banner.sub-text }} editable"> Get in touch </span> <br>
      </h3>
    </div>
</section>

{% else %}

<section class="bg-image {{page.banner.block-position }} padded {{page.banner.banner-tall }} {{page.banner.small-devices-tall }} {{page.banner.image-position }}" style="background-image:url('{{ page.banner.banner_image }}')">
  <div class="{{page.banner.column-size }}-middle">
    <h3>
      <span class="big-bold {{page.banner.main-text }} editable"> HOLA </span> <br>
      <span class="medium-bold {{page.banner.sub-text }} editable"> Get in touch </span> <br>
    </h3>
  </div>
</section>

{% endif %}

<!-- Contact Form -->
<section class="grid padded contact">
    <div class="col-6_sm-12 padded">
      <h2 class="editable"> Contact us </h2>
      <p class="editable"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <p class="editable"> <strong> Email: </strong> hello@company.com </p>
      <p class="editable"> <strong> Phone: </strong> 0412 555 555 </p>
      <p class="editable"> <strong> Location: </strong> Brisbane & Gold Coast </p>
    </div>
    <div class="col-6_sm-12-middle padded">
      <form class="grid-center" action="https://formspree.io/hello@company.com" method="POST">
        <div class="col-6_sm-12">
          <input type="text" name="name" placeholder="Your Name">
        </div>
        <div class="col-6_sm-12">
          <input type="email" name="_replyto" placeholder="Your Email">
        </div>
        <div class="col-12">
          <textarea placeholder="Your Message"></textarea>
          <input type="submit" value="Send" class="{{page.contact.button }}">
        </div>
      </form>
    </div>
  </section>

  <!--------------------  TESTIMONIAL SECTION -------------------->
    
{% include testimonial.html %}

<!--------------------  FAQ SECTION -------------------->

{% include faq.html %}

<!--------------------  SUSCRIBE -------------------->

{% include sign-up.html %}