---
layout: default
seo:
  title: Delivery | Peruvian Bowls
  description: Amazing peruvian food for amazing busy people. Delivered right at your door.
  social_image:
  keywords:
  hide-from-google: true
fixed-menu: true
notification-bar: true
bar:
  background: bg-accent
  text: white-text
  text-align: center
banner:
  banner_image: /images/demo-web7.jpg
  image-position: bg-pos-b
  banner-tall: tall-60
  small-devices-tall: tall-40-sm
  column-size: col-5_sm-12
  text-align: left
  main-text: dark-text
  sub-text: dark-text
  block-position: grid-right
  background: bg-white
  button: button-inverted
steps:
  - column-size: col-6_sm-12
    number: 1
    title: Choose your meals
    description: Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
  - column-size: col-6_sm-12
    number: 2
    title: Choose a delivery option
    description: Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
  - column-size: col-6_sm-12
    number: 3
    title: We take it your house
    description: Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
  - column-size: col-6_sm-12
    number: 4
    title: Heat & Enjoy
    description: Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
banner-2:
  banner_image: /images/demo-web15.jpg
  banner-tall: tall-80
  small-devices-tall: tall-50-md
---

<!--------------------  HEADER AND MENU -------------------->

{% if page.fixed-menu == true %}

  {% include header-nav.html %}

{% else %}

  {% include header-nav-2.html %}

{% endif %}

<!-- Banner section -->

{% if page.fixed-menu == true %}

<section class="bg-image {{page.banner.block-position }} padded {% if page.notification-bar == true %} margin-fixed {% else %} margin-fixed-sm {% endif %} {{page.banner.banner-tall }} {{page.banner.small-devices-tall }} {{page.banner.image-position }}" style="background-image:url('{{ page.banner.banner_image }}')">
    <div class="{{page.banner.column-size }}-middle {{page.banner.background }} padded-2">
      <h3 class="{{page.banner.main-text }} editable"> Tasty Peruvian Food to your door </h3>
      <p class="{{page.banner.sub-text }} editable"> If you live in Brisbane or Gold Coast, we can deliver ready meals to you </p>
      <a href="/index/#order" class="{{page.banner.button }} editable"> Order now</a>
    </div>
</section>

{% else %}

<section class="bg-image {{page.banner.block-position }} padded {{page.banner.banner-tall }} {{page.banner.small-devices-tall }} {{page.banner.image-position }}" style="background-image:url('{{ page.banner.banner_image }}')">
  <div class="{{page.banner.column-size }}-middle {{page.banner.background }} padded-2">
    <h3 class="{{page.banner.main-text }} editable"> Tasty Peruvian Food to your door </h3>
    <p class="{{page.banner.sub-text }} editable"> If you live in Brisbane or Gold Coast, we can deliver ready meals to you </p>
    <a href="/index/#order" class="{{page.banner.button }} editable"> Order now</a>
  </div>
</section>

{% endif %}


<!-- DELIVERY STEPS  -->

<section class="padded center capped-width-narrow">
  <h2 class="editable"> HOW DELIVERY WORKS </h2>
  <div class="grid padded-1">

    {% for item in page.steps %}
    <div class="{{item.column-size }} padded">
      <span class="number-text"> {{item.number }} </span>
      <h4> {{item.title }}  </h4>
      <p> {{item.description }} </p>
    </div>
    {% endfor %}

  </div>
</section>

<!--------------------  BG IMAGE -------------------->

<section class="bg-image grid-center {{page.banner-2.banner-tall }} {{page.banner-2.small-devices-tall }}" style="background-image:url('{{ page.banner-2.banner_image }}')">
  
</section>  