---
layout: no-footer
seo:
  title: Explore | Picaron Studio
  description: Quick links to improve your experience with Picaron Studio.
  social_image:
  keywords: ['Picaron Studio, Web Design in Adelaide, Branding services in Adelaide, Independent Graphic Design Studio in Adelaide, Coded Websites in Adelaide, Branding for small businesses Adelaide, custom code websites South Australia, LGBT business Adelaide, LGBT business South Australia, Latin American Graphic Design Studio in Australia, Peruvian Graphic and web design studio in Australia']
  hide-from-google: false
---

<section class="grid-middle bg-light center explore-text tall-90 relative">

    <div class="col-3_sm-4 capped-width padded padded-b-0">
        <a href="/index.html" class="logo">
            <img src="{{ site.data.site-settings.general.logo_image }}">
        </a>
    </div>

    <nav class="col-12 padded padded-b-0 padded-t-0">

        <div class="padded-05 sm-padded-2">
            <a href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/picaronstudio?hide_landing_page_details=1&hide_gdpr_banner=1&background_color=f7f8f8&text_color=303030&primary_color=fc41c6'});return false;" class="explore">Book a 30 minute free consultation call</a>
        </div>
        
        <div class="padded-05 sm-padded-2">
            <a href="/portfolio.html" class="explore"> Our portfolio </a>
        </div>
        
        <div class="padded-05 sm-padded-2">
            <a href="/services.html" class="explore"> View our services </a>
        </div>
        
        <div class="padded-05 sm-padded-2">
            <a href="/index.html" class="explore"> Explore our website </a>
        </div>
        
        <div class="padded-05 sm-padded-2">
            <a href="{{ site.data.site-settings.social.facebook_url }}" class="explore"> Connect with us on Facebook </a>
        </div>

        <div class="padded-05 sm-padded-2">
            <a href="/contact.html/#contact" class="explore"> Work with us </a>
        </div class="padded">
        
    </nav>
    
    <nav class="col-12 grid social-menu-explore sm-inline">
        <div class="col-12 padded">

            {% if site.data.navigation.social.instagram == true %}

            <a href="{{ site.data.site-settings.social.instagram_url }}">
                <i class="fab fa-instagram"></i>
            </a>

            {% endif %}

            {% if site.data.navigation.social.facebook == true %}

            <a href="{{ site.data.site-settings.social.facebook_url }}">
                <i class="fab fa-facebook"></i>
            </a>

            {% endif %}

            {% if site.data.navigation.social.youtube == true %}

            <a href="{{ site.data.site-settings.social.youtube_url }}">
                <i class="fab fa-youtube"></i>
            </a>

            {% endif %}

            {% if site.data.navigation.social.pinterest == true %}

            <a href="{{ site.data.site-settings.social.pinterest_url }}">
                <i class="fab fa-pinterest"></i>
            </a>

            {% endif %}

            {% if site.data.navigation.social.twitter == true %}

            <a href="{{ site.data.site-settings.social.twitter_url }}">
                <i class="fab fa-twitter"></i>
            </a>

            {% endif %}

        </div>
        
    </nav>

    <!-- Image Picaron -->
    <div class="picaron-pink-explore">
        <img src="images/picaron-studio19.png">
    </div>

    <!-- Hojas left -->
    <div class="leaves-left-explore">
        <img src="images/picaron-studio30.png">
    </div>

    <!-- Hojas top -->
    <div class="leaves-top-explore">
        <img src="images/picaron-studio31.png">
    </div>

</section>