---
layout: default
seo:
  title: The Coffee Shop | Dine in & Take away in Sydney
  description: Amazing peruvian food for amazing busy people. Delivered right at your door.
  social_image:
  keywords:
  hide-from-google: true
fixed-menu: true
notification-bar: true
bar:
  background: bg-dark
  text: white-text
  text-align: center
menu:
  button-style: true
banner:
  banner_image: /images/cafe-web23.webp
  image-position: Top
  banner-tall: tall-100
  small-devices-tall: tall-60-sm
  column-size: col-7_sm-12
  text-align: left
  main-content: The Coffee Shop
  sub-content: Preparing delicious meals since 1999
  highlighted-content: Cafe Restaurant & take away food in Sydney
  main-text: white-text
  sub-text: white-text
  block-position: grid-left
  highlight: true
  highlight-background: bg-featured
  button: button
  banner-button-text: Order now
first-section:
  - column-size: col-4_sm-12
    background_image: /images/cafe-web7.jpeg
    hover-title: One
    title: Choose your meals & drinks
    description: >-
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, maxime,
      distinctio illum dolore architecto.
  - column-size: col-4_sm-12
    background_image: /images/cafe-web15.jpeg
    hover-title: Two
    title: We deliver it to you
    description: >-
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, maxime,
      distinctio illum dolore architecto.
  - column-size: col-4_sm-12
    background_image: /images/cafe-web10.jpeg
    hover-title: Three
    title: Enjoy in the comfort of your house
    description: >-
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, maxime,
      distinctio illum dolore architecto.
first-section-button:
  button: button-inverted
banner-2:
  banner_image: /images/cafe-web26.jpeg
  image-position: bg-pos-t
  banner-tall: tall-80
  small-devices-tall: tall-50-md
  column-size: col-6_sm-12
  text-align: center
  main-text: white-text
  sub-text: white-text
  block-position: grid-center
  button: button
best-sellers-heading: true
best-sellers:
  - background_image: /images/cafe-web20.webp
    image-position: bg-pos-c
    title: Dine in
    description: >-
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio deleniti
      aspernatur quod minima ullam ab, in nihil temporibus velit, quae iure
      omnis dignissimos fuga, laudantium a quo alias qui ipsam!
    button: button-inverted
  - background_image: /images/cafe-web8.jpeg
    image-position: bg-pos-b
    title: Take away
    description: >-
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio deleniti
      aspernatur quod minima ullam ab, in nihil temporibus velit, quae iure
      omnis dignissimos fuga, laudantium a quo alias qui ipsam!
    button: button-inverted
special-banner: true
special-offer:
  background: bg-warm
  main-text: dark-text
  sub-text: dark-text
why-us:
  background_image: /images/cafe-web12.jpeg
  image-position: bg-pos-t
  background: bg-warm
  button: button-inverted
testimonial-section: true
testimonial:
  button: button-inverted
faq: true
banner-faq_image: /images/cafe-web17.jpeg
sign-up-banner: true
sign-up:
  background: bg-featured
  main-text: dark-text
  sub-text: dark-text
  button: button
---

<!--------------------  HEADER AND MENU -------------------->

{% if page.fixed-menu == true %}

  {% include header-nav.html %}

  <section class="bg-image {{page.banner.image-position }} {{page.banner.block-position }} {{page.banner.banner-tall }} {{page.banner.small-devices-tall }} {% if page.notification-bar == true %} margin-fixed {% else %} margin-fixed-sm {% endif %}" style="background-image:url('{{ page.banner.banner_image }}')">

      <div class="{{page.banner.column-size }}-middle {{page.banner.text-align }} padded">
        <h3>
          <span class="big-bold {{page.banner.main-text }} editable"> {{page.banner.main-content }} </span> <br />
          <span class="medium-bold {{page.banner.sub-text }} editable"> {{page.banner.sub-content }} </span> <br />
        </h3>
        <h1 class="padded-b-1"> 
          <span class="{% if page.banner.highlight == true %} highlight {% endif %} {{page.banner.highlight-background }} text-15 editable">{{page.banner.highlighted-content }}</span></h1>
        <a href="/#order" class="{{page.banner.button }} editable"> {{page.banner.banner-button-text }} </a>
      </div>
  </section>

  {% else %}

  {% include header-nav-2.html %}

  <section class="bg-image {{page.banner.image-position }} {{page.banner.block-position }} {{page.banner.banner-tall }} {{page.banner.small-devices-tall }}" style="background-image:url('{{ page.banner.banner_image }}')">

      <div class="{{page.banner.column-size }}-middle {{page.banner.text-align }} padded">
        <h3>
          <span class="big-bold {{page.banner.main-text }} editable"> {{page.banner.main-content }} </span> <br />
          <span class="medium-bold {{page.banner.sub-text }} editable"> {{page.banner.sub-content }} </span> <br />
        </h3>
        <h1 class="padded-b-1"> 
          <span class="{% if page.banner.highlight == true %} highlight {% endif %} {{page.banner.highlight-background }} text-15 editable">{{page.banner.highlighted-content }}</span></h1>
        <a href="/#order" class="{{page.banner.button }} editable"> {{page.banner.banner-button-text }} </a>
      </div>
  </section>

{% endif %}


<!--------------------  FIRST SECTION -------------------->

<section class="padded center padded-t-lg" id="{{site.data.navigation.quick-links.link-3.id }}">
    <h2 class="editable">
        How Delivery Works
    </h2>

    <div class="grid padded-1">

      {% for item in page.first-section %}
        <div class="{{item.column-size }} padded-1">
            <div class="hover-container" style="background-image:url('{{ item.background_image }}')">
            <div class="hover-overlay">
                <div class="hover-inner">
                    <h3> {{item.hover-title }} </h3>
                </div>
            </div>
            </div>
            <div class="padded">
                <h4>{{item.title }} </h4>
                <p>{{item.description }}</p>
            </div>
        </div>

        {% endfor %}
        
        <div class="col-12 center">
          <a href="/#order" class="{{page.first-section-button.button }} editable"> Order now </a>
        </div>
        
    </div>
</section>


<!--------------------  PERUVIAN FOOD BANNER -------------------->

<section class="bg-image {{page.banner-2.block-position }} {{page.banner-2.image-position }} fixed {{page.banner-2.banner-tall }} {{page.banner-2.small-devices-tall }}" style="background-image:url('{{ page.banner-2.banner_image }}')">
    <div class="{{page.banner-2.column-size }}-middle {{page.banner-2.text-align }}">
      <h2 class="big-bold {{page.banner-2.main-text }} editable">
          How it all started
      </h2>
      <h3 class="{{page.banner-2.sub-text }} editable">
          We followed our dreams and The Coffee Shop was created
      </h3>
      <a href="/about/#peru" class="{{page.banner-2.button }} editable">Read our story</a>
    </div>
  </section> 
  

<!--------------------  BEST SELLERS -------------------->

<section class="padded-tb-lg" id="{{site.data.navigation.quick-links.link-2.id }}">

  {% if page.best-sellers-heading == true %}
  <h2 class="editable center padded-sm">Where do you want to eat?</h2>
  {% endif %}

  {% for item in page.best-sellers %}
  <div class="grid flex-flip">
    <div class="col-6_sm-12 bg-image {{item.image-position }}" style="background-image:url('{{ item.background_image }}')"></div>
    <div class="col-6_sm-12-middle padded">
      <h3> {{item.title }} </h3>
      <p> {{item.description }} </p>
      <a class="{{item.button }} editable" href="/#order"> Order or Book now </a>
    </div>
  </div>
  {% endfor %}
  
  </section>

<!--------------------  BANNER DISCOUNT -------------------->

{% include special-offer.html %}

<!--------------------  SHOP MEALS -------------------->

{% include shopify.html %}

<!--------------------  WHY US -------------------->

<section class="grid padded padded-l-0 padded-tb sm-padded">
  <div class="bg-image col-7_sm-12 tall-70 tall-50-sm" style="background-image:url('{{ page.why-us.background_image }}')">
  </div>
  <div class="col-5_sm-12-middle relative">
    <div class="bg-why-over {{ page.why-us.background }} bg-over">
        <h2 class="big-bold editable">
            Our Motto
        </h2>
        <p class="editable">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <p class="editable">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <p class="editable">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <p class="editable">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <a class="{{page.why-us.button }} editable" href="/about.html"> Get to know us more </a>
      </div>
    </div>
</section>

<!--------------------  TESTIMONIAL SECTION -------------------->
    
{% include testimonial.html %}

<!--------------------  FAQ SECTION -------------------->

{% include faq.html %}

<!--------------------  SUSCRIBE -------------------->

{% include sign-up.html %}
