---
layout: default
seo:
  title: Privacy Policy | The Coffee Shop 
  description: Amazing peruvian food for amazing busy people. Delivered right at your door.
  social_image:
  keywords:
  hide-from-google: true
fixed-menu: true
notification-bar: true
bar:
  background: bg-dark
  text: white-text
  text-align: center
menu:
  button-style: true
---

<!--------------------  HEADER AND MENU -------------------->

{% if page.fixed-menu == true %}

  {% include header-nav.html %}

  <section class="bg-image {{page.banner.image-position }} {{page.banner.block-position }} {{page.banner.banner-tall }} {{page.banner.small-devices-tall }} {% if page.notification-bar == true %} margin-fixed {% else %} margin-fixed-sm {% endif %}" style="background-image:url('{{ page.banner.banner_image }}')">

  </section>

  {% else %}

  {% include header-nav-2.html %}

  <section class="bg-image {{page.banner.image-position }} {{page.banner.block-position }} {{page.banner.banner-tall }} {{page.banner.small-devices-tall }}" style="background-image:url('{{ page.banner.banner_image }}')">

  </section>

{% endif %}

<section class="padded">

    <div class="grid capped-width-narrow">

        <div class="col-12">

            <h1 class="center medium-bold">Privacy Policy</h1>
            <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt doloremque nostrum minus veritatis quis! Voluptas aperiam ex, eum illum, repellat doloremque tempora dolor asperiores, fugiat ab veritatis voluptatibus nam sunt!</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt doloremque nostrum minus veritatis quis! Voluptas aperiam ex, eum illum, repellat doloremque tempora dolor asperiores, fugiat ab veritatis voluptatibus nam sunt!</p>
            <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt doloremque nostrum minus veritatis quis! Voluptas aperiam ex, eum illum, repellat doloremque tempora dolor asperiores, fugiat ab veritatis voluptatibus nam sunt!</p>

        </div>

    </div>

</section>