<!-- Styles  -->
<style> 

    :root {
        --dark-text:                    {{ site.data.design.text_colors.dark-text_color }};
        --semi-dark-text:                    {{ site.data.design.text_colors.semi-dark-text_color }};
        --grey-text:                    {{ site.data.design.text_colors.grey-text_color }};
        --warm-text:                    {{ site.data.design.text_colors.warm-text_color }};
        --accent-text:                  {{ site.data.design.text_colors.accent-text_color }};
        --featured-text:                {{ site.data.design.text_colors.featured-text_color }};
        --white-text:                   {{ site.data.design.text_colors.white-text_color }};
        --dark-background:              {{ site.data.design.background_colors.dark-background_color }};
        --semi-dark-background:         {{ site.data.design.background_colors.semi-dark-background_color }};
        --grey-background:              {{ site.data.design.background_colors.grey-background_color }};
        --warm-background:              {{ site.data.design.background_colors.warm-background_color }};
        --accent-background:            {{ site.data.design.background_colors.accent-background_color }};
        --light-accent-background:      {{ site.data.design.background_colors.light-accent-background_color }};
        --featured-background:          {{ site.data.design.background_colors.featured-background_color }};
        --light-featured-background:    {{ site.data.design.background_colors.light-featured-background_color }};
        --light-background:             {{ site.data.design.background_colors.light-background_color }};
        --white-background:             {{ site.data.design.background_colors.white-background_color }};
        --card:                         {{ site.data.design.testimonial.card_color }};
        --author-text-weight:           {{ site.data.design.testimonial.author-text-weight }};
        --body-font-family:             {{ site.data.design.body.body-font-family }};
        --body-line-height:             {{ site.data.design.body.body-line-height }};
        --body-heading-size:            {{ site.data.design.body.body-heading-size }};
        --body-sub-heading-size:        {{ site.data.design.body.body-sub-heading-size }};
        --body-small-heading-size:      {{ site.data.design.body.body-small-heading-size }};
        --body-text-size:               {{ site.data.design.body.body-text-size }};
        --body-text-weight:             {{ site.data.design.body.body-text-weight }};
        --body-background:              {{ site.data.design.body.body-background_color }};
        --mobile-menu-text-size:        {{ site.data.design.menu.mobile-menu-text-size }};
        --mobile-menu-text-weight:      {{ site.data.design.menu.mobile-menu-text-weight }};
        --nav-background:               {{ site.data.design.menu.nav-background_color }};
        --nav-text:                     {{ site.data.design.menu.nav-text_color }};
        --footer-text:                  {{ site.data.design.footer.footer-text_color }};
        --footer-text-size:             {{ site.data.design.footer.footer-text-size }};
        --footer-text-weight:           {{ site.data.design.footer.footer-text-weight }};
        --default-background:           {{ site.data.design.buttons.default-button.default-background_color }};
        --default-border:               {{ site.data.design.buttons.default-button.default-border_color }};
        --default-text:                 {{ site.data.design.buttons.default-button.default-text_color }};
        --default-hover-background:     {{ site.data.design.buttons.default-button.default-hover-background_color }};
        --default-hover-border:         {{ site.data.design.buttons.default-button.default-hover-border_color }};
        --default-hover-text:           {{ site.data.design.buttons.default-button.default-hover-text_color }};
        --inverted-background:          {{ site.data.design.buttons.inverted-button.inverted-background_color }};
        --inverted-border:              {{ site.data.design.buttons.inverted-button.inverted-border_color }};
        --inverted-text:                {{ site.data.design.buttons.inverted-button.inverted-text_color }};
        --inverted-hover-background:    {{ site.data.design.buttons.inverted-button.inverted-hover-background_color }};
        --inverted-hover-border:        {{ site.data.design.buttons.inverted-button.inverted-hover-border_color }};
        --inverted-hover-text:          {{ site.data.design.buttons.inverted-button.inverted-hover-text_color }};
        --special-background:            {{ site.data.design.buttons.special-button.special-background_color }};
        --special-border:                {{ site.data.design.buttons.special-button.special-border_color }};
        --special-text:                  {{ site.data.design.buttons.special-button.special-text_color }};
        --special-hover-background:      {{ site.data.design.buttons.special-button.special-hover-background_color }};
        --special-hover-border:          {{ site.data.design.buttons.special-button.special-hover-border_color }};
        --special-hover-text:            {{ site.data.design.buttons.special-button.special-hover-text_color }};
        --big-heading-text-size:        {{ site.data.design.special-text.big-heading-text-size }};
        --big-heading-text-weight:      {{ site.data.design.special-text.big-heading-text-weight }};
        --medium-heading-text-size:     {{ site.data.design.special-text.medium-heading-text-size }};
        --medium-heading-text-weight:   {{ site.data.design.special-text.medium-heading-text-weight }};
        --big-text-size:                {{ site.data.design.special-text.big-text-size }};
        --story-team-font-family:       {{ site.data.design.special-text.story-team-font-family }};
        --story-team-text-size:         {{ site.data.design.special-text.story-team-text-size }};
        --number-font-family:           {{ site.data.design.special-text.number-font-family }};
        --number-text-size:             {{ site.data.design.special-text.number-text-size }};
        --logo-max-width:             {{ site.data.site-settings.general.logo-max-width }};
    }

</style> 