<!-- Styles  -->
<style> 

    :root {
        --dark-text: {{ site.data.site-settings.design.dark-text_color }} ;
        --grey-text: {{ site.data.site-settings.design.grey-text_color }} ;
        --light-text: {{ site.data.site-settings.design.light-text_color }};
        --beige-text: {{ site.data.site-settings.design.beige-text_color }};
        --red-text: {{ site.data.site-settings.design.red-text_color }};
        --blue-text: {{ site.data.site-settings.design.blue-text_color }};
        --yellow-text: {{ site.data.site-settings.design.yellow-text_color }};
        --blue: {{ site.data.site-settings.design.blue_color }};
        --red: {{ site.data.site-settings.design.red_color }};
        --beige: {{ site.data.site-settings.design.beige_color }};
        --yellow: {{ site.data.site-settings.design.yellow_color }};
        --light-red: {{ site.data.site-settings.design.light-red_color }};
        --light-yellow: {{ site.data.site-settings.design.light-yellow_color }};
        --light: {{ site.data.site-settings.design.light_color }};
        --white: {{ site.data.site-settings.design.white_color }};
    }

</style> 