<!-- Styles  -->
<style> 

    :root {
        --grey-text:      {{ site.data.site-settings.design.colors.grey-text_color }} ;
        --dark-text:      {{ site.data.site-settings.design.colors.dark-text_color }} ;
        --semi-dark-text: {{ site.data.site-settings.design.colors.semi-dark-text_color }};
        --accent-text:    {{ site.data.site-settings.design.colors.accent-text_color }};
        --featured-text:  {{ site.data.site-settings.design.colors.featured-text_color }};
        --light-text:     {{ site.data.site-settings.design.colors.light-text_color }};
        --white-text:     {{ site.data.site-settings.design.colors.white-text_color }};
        --warm-text:      {{ site.data.site-settings.design.colors.warm-text_color }};
        --grey:           {{ site.data.site-settings.design.colors.grey_color }} ;
        --dark:           {{ site.data.site-settings.design.colors.dark_color }} ;
        --semi-dark:      {{ site.data.site-settings.design.colors.semi-dark_color }};
        --accent:         {{ site.data.site-settings.design.colors.accent_color }};
        --light-accent:   {{ site.data.site-settings.design.colors.light-accent_color }};
        --featured:       {{ site.data.site-settings.design.colors.featured_color }};
        --light-featured: {{ site.data.site-settings.design.colors.light-featured_color }};
        --light:          {{ site.data.site-settings.design.colors.light_color }};
        --white:          {{ site.data.site-settings.design.colors.white_color }};
        --warm:           {{ site.data.site-settings.design.colors.warm_color }};

        --text-font-family:     {{ site.data.site-settings.design.fonts.text-font-family }};
        --heading-font-family:  {{ site.data.site-settings.design.fonts.heading-font-family }};
        --accent-font-family:   {{ site.data.site-settings.design.fonts.accent-font-family }} ;
        --thin:           {{ site.data.site-settings.design.thin }} ;
        --extra-light:      {{ site.data.site-settings.design.extra-light }};
        --light:         {{ site.data.site-settings.design.light }};
        --regular:   {{ site.data.site-settings.design.light-accent_color }};
        --medium:       {{ site.data.site-settings.design.featured_color }};
        --light-featured: {{ site.data.site-settings.design.light-featured_color }};
        --light:          {{ site.data.site-settings.design.light_color }};
        --white:          {{ site.data.site-settings.design.white_color }};
        --warm:           {{ site.data.site-settings.design.warm_color }};
        
        
        
        
        
    }

</style> 