
<section class="padded padded-t-lg capped-width">
    <div id='collection-component-1630659319260'></div>
    <!-- SHOPIFY CODE -->
  <script type="text/javascript">
    /*<![CDATA[*/
    (function () {
      var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
      if (window.ShopifyBuy) {
        if (window.ShopifyBuy.UI) {
          ShopifyBuyInit();
        } else {
          loadScript();
        }
      } else {
        loadScript();
      }
      function loadScript() {
        var script = document.createElement('script');
        script.async = true;
        script.src = scriptURL;
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
        script.onload = ShopifyBuyInit;
      }
      function ShopifyBuyInit() {
        var client = ShopifyBuy.buildClient({
          domain: 'peruvian-bowls.myshopify.com',
          storefrontAccessToken: '75699b9299b092ed1dc71e72f522ddb1',
        });
        ShopifyBuy.UI.onReady(client).then(function (ui) {
          ui.createComponent('collection', {
            id: '275849380012',
            node: document.getElementById('collection-component-1630659319260'),
            moneyFormat: '%24%7B%7Bamount%7D%7D',
            options: {
      "product": {
        "styles": {
          "product": {
            "@media (min-width: 601px)": {
              "max-width": "calc(33.33333% - 30px)",
              "margin-left": "30px",
              "margin-bottom": "50px",
              "width": "calc(33.33333% - 30px)"
            }
          },
          "title": {
            "color": "#303030"
          },
          "button": {
            ":hover": {
              "background-color": "#d4442e"
            },
            "background-color": "#ec4b33",
            ":focus": {
              "background-color": "#d4442e"
            },
            "border-radius": "0px",
            "padding-left": "30px",
            "padding-right": "30px"
          },
          "price": {
            "color": "#303030"
          },
          "compareAt": {
            "color": "#303030"
          },
          "unitPrice": {
            "color": "#303030"
          }
        },
        "buttonDestination": "modal",
        "contents": {
          "options": false
        },
        "text": {
          "button": "View details"
        }
      },
      "productSet": {
        "styles": {
          "products": {
            "@media (min-width: 601px)": {
              "margin-left": "-30px"
            }
          }
        }
      },
      "modalProduct": {
        "contents": {
          "img": false,
          "imgWithCarousel": true,
          "button": false,
          "buttonWithQuantity": true
        },
        "styles": {
          "product": {
            "@media (min-width: 601px)": {
              "max-width": "100%",
              "margin-left": "0px",
              "margin-bottom": "0px"
            }
          },
          "button": {
            ":hover": {
              "background-color": "#d4442e"
            },
            "background-color": "#ec4b33",
            ":focus": {
              "background-color": "#d4442e"
            },
            "border-radius": "0px",
            "padding-left": "30px",
            "padding-right": "30px"
          },
          "title": {
            "font-family": "Helvetica Neue, sans-serif",
            "font-weight": "bold",
            "font-size": "26px",
            "color": "#303030"
          },
          "price": {
            "font-family": "Helvetica Neue, sans-serif",
            "font-weight": "normal",
            "font-size": "18px",
            "color": "#303030"
          },
          "compareAt": {
            "font-family": "Helvetica Neue, sans-serif",
            "font-weight": "normal",
            "font-size": "15.299999999999999px",
            "color": "#303030"
          },
          "unitPrice": {
            "font-family": "Helvetica Neue, sans-serif",
            "font-weight": "normal",
            "font-size": "15.299999999999999px",
            "color": "#303030"
          },
          "description": {
            "color": "#303030"
          }
        },
        "text": {
          "button": "Add to cart"
        }
      },
      "modal": {
        "styles": {
          "modal": {
            "background-color": "#fcf3e2"
          }
        }
      },
      "option": {},
      "cart": {
        "styles": {
          "button": {
            ":hover": {
              "background-color": "#d4442e"
            },
            "background-color": "#ec4b33",
            ":focus": {
              "background-color": "#d4442e"
            },
            "border-radius": "0px"
          },
          "title": {
            "color": "#303030"
          },
          "header": {
            "color": "#303030"
          },
          "lineItems": {
            "color": "#303030"
          },
          "subtotalText": {
            "color": "#303030"
          },
          "subtotal": {
            "color": "#303030"
          },
          "notice": {
            "color": "#303030"
          },
          "currency": {
            "color": "#303030"
          },
          "close": {
            "color": "#303030",
            ":hover": {
              "color": "#303030"
            }
          },
          "empty": {
            "color": "#303030"
          },
          "noteDescription": {
            "color": "#303030"
          },
          "discountText": {
            "color": "#303030"
          },
          "discountIcon": {
            "fill": "#303030"
          },
          "discountAmount": {
            "color": "#303030"
          },
          "cart": {
            "background-color": "#fcf3e2"
          },
          "footer": {
            "background-color": "#fcf3e2"
          }
        },
        "text": {
          "total": "Subtotal",
          "button": "Checkout",
          "noteDescription": "Tell us if you have any allergies or want something special, we will contact you to discuss it"
        },
        "contents": {
          "note": true
        }
      },
      "toggle": {
        "styles": {
          "toggle": {
            "background-color": "#ec4b33",
            ":hover": {
              "background-color": "#d4442e"
            },
            ":focus": {
              "background-color": "#d4442e"
            }
          }
        }
      },
      "lineItem": {
        "styles": {
          "variantTitle": {
            "color": "#303030"
          },
          "title": {
            "color": "#303030"
          },
          "price": {
            "color": "#303030"
          },
          "fullPrice": {
            "color": "#303030"
          },
          "discount": {
            "color": "#303030"
          },
          "discountIcon": {
            "fill": "#303030"
          },
          "quantity": {
            "color": "#303030"
          },
          "quantityIncrement": {
            "color": "#303030",
            "border-color": "#303030"
          },
          "quantityDecrement": {
            "color": "#303030",
            "border-color": "#303030"
          },
          "quantityInput": {
            "color": "#303030",
            "border-color": "#303030"
          }
        }
      }
    },
          });
        });
      }
    })();
    /*]]>*/
    </script>
  </section>