{% if page.sign-up-banner == true %}

<section class="padded-t">
  <div class="center padded {{page.sign-up.background_color }}">
    <h3 class="uppercase editable {{page.sign-up.background_color }}">
        Subscribe Now
    </h3>
    <p class="editable {{page.sign-up.background_color }}">
        This one could be connected to your email newsletter, like mailchimp or mailerlite or just a standard email form.
    </p>
  
    <form class="email-signup" action="https://formspree.io/your@email.com" method="POST">
      <input type="text" name="name" placeholder="Your Name" />
      <input type="email" name="_replyto" placeholder="Your Email" />
      <input type="submit" value="Send" class="button-accent" />
    </form>
  
  </div>
</section>


{% endif %}
