
<footer class="grid-top padded padded-b-0 sm-text-center">
    <!-- column -->
    <div class="col-3_sm-12 padded-1">
      <h2 class="logo"> PERUVIAN BOWLS </h2>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
    </div>
    <div class="col-1 sm-hidden"> <!-- empty filler --> </div>
  
    <!-- column -->
    <div class="col-3_sm-4_xs-12 padded-1 hide-sm">
      <h4 class="uppercase"> Quick Links </h4>
      <nav>
        <a href="/index/#order"> Order Now </a>
        <a href="/index/#meals"> Meal Options </a>
        <a href="/index/#how"> How it works </a>
        <a href="/about/#peru"> About Peruvian Food </a>
      </nav>
    </div>
  
    <!-- column -->
    <div class="col-3_sm-4_xs-12 padded-1">
      <h4 class="uppercase"> Explore </h4>
      <nav>
        <a href="{{ site.data.navigation.picaron-menu.link-1.url }}"> {{ site.data.navigation.picaron-menu.link-1.name }} </a>
        <a href="{{ site.data.navigation.picaron-menu.link-2.url }}"> {{ site.data.navigation.picaron-menu.link-2.name }} </a>
        <a href="{{ site.data.navigation.picaron-menu.link-3.url }}"> {{ site.data.navigation.picaron-menu.link-3.name }} </a>
        <a href="{{ site.data.navigation.picaron-menu.link-4.url }}"> {{ site.data.navigation.picaron-menu.link-4.name }} </a>
        <a href="{{ site.data.navigation.picaron-menu.link-5.url }}"> {{ site.data.navigation.picaron-menu.link-5.name }} </a>
      </nav>
    </div>
  
    <!-- column -->
    <div class="col-2_sm-4_xs-12 padded-1 sm-inline">
      <h4 class="uppercase"> Connect </h4>
      <nav>
        {% if site.data.navigation.social.instagram == true %}

            <a href="{{ site.data.site-settings.social.instagram_url }}">
                <i class="fab fa-instagram"></i>
            </a>

            {% endif %}

            {% if site.data.navigation.social.facebook == true %}

            <a href="{{ site.data.site-settings.social.facebook_url }}">
                <i class="fab fa-facebook"></i>
            </a>

            {% endif %}

            {% if site.data.navigation.social.youtube == true %}

            <a href="{{ site.data.site-settings.social.youtube_url }}">
                <i class="fab fa-youtube"></i>
            </a>

            {% endif %}

            {% if site.data.navigation.social.pinterest == true %}

            <a href="{{ site.data.site-settings.social.pinterest_url }}">
                <i class="fab fa-pinterest"></i>
            </a>

            {% endif %}

            {% if site.data.navigation.social.twitter == true %}

            <a href="{{ site.data.site-settings.social.twitter_url }}">
                <i class="fab fa-twitter"></i>
            </a>

            {% endif %}
      </nav>
    </div>

    <div class="col-12 center padded-t-1">
        <p class="subtitle margin-b-0"> Website by
            <a href="#"> Picaron Studio
            </a>
        </p>
        <p class="subtitle"> Copyright 2021</p>
    </div>

  </footer>
  